body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(banner.jpg);
    backdrop-filter: blur(18px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}